# Output path
/bin
/output-folder
/scanned-images
/data

# Output jar
usda-java-durum-scan-bcgv.jar

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# program config
.config
durum-scan.config

# Bundled jre
/jre

# temp files used during program execution
tmp.tif
tmp3.zip
